/*https://stackoverflow.com/a/43372324*/
@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}

body {
  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.button{
  /*background button*/
  display: flex;

  height: 100%;
  width: 700px;

  justify-content: center;
  font-size: 48px;
  text-decoration: none;

  margin: 5px;
  padding: 5px;

  white-space: nowrap;
  border: solid 4px;
  border-radius: 250px;
  border-color: rgb(255, 255, 255);

  /*use button*/
  font-weight: bold;
  color: #ffffff;

  /*https://stackoverflow.com/a/4407335*/
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

  transition: all 0.25s ease;
}

.button:hover{
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5); 
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  color: rgb(63, 63, 63);
}


.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
}

@media screen and (min-width: 1000px) {
  .button{
    white-space: nowrap;
    font-size: 48px;
  }
}

@media screen and (max-width: 800px) {
  body{
    white-space: normal;
  }

  .button{
    white-space: nowrap;
    width: 100%;
    font-size: 24px;    
  }
}